<?xml version="1.0" encoding="utf-8"?>
<module name="Favorite" clientResourceRelativePath="" tags="EPiServerModulePackage">
  
  <assemblies>
    <add assembly="$projectname$" />
  </assemblies>
  
  <dojo>
    <paths>
      <add name="$projectname$" path="ClientResources/addon" />
    </paths>
  </dojo>
  
  <clientResources>
    <add name="clientResources" path="ClientResources/css/styles.css" resourceType="Style"/>
  </clientResources>
  
  <clientModule initializer="$projectname$/FavoriteModule">
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="clientResources" />
    </requiredResources>
  </clientModule>
  
</module>